* {
  box-sizing: border-box; 
}

body{
    background-color: white;   
    padding: 0px;
    margin: 0px;

  }
/* I changed this .navigation rule.  */
  .navigation {
    width: 100% auto;
    border-bottom: solid #aca69a 1px;
    padding: 30px;
    overflow-y: auto;
    text-align: center;
  }

  ul{
    margin: 0px;
    padding: 0px;
  }

  .navigation a{
    color: #9e9073;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px 40px;
    text-transform: uppercase;
  }

  a.logo{
    color: #2176FF;
    font-family: 'Amatic SC',sans-serif;
    font-size: 34px;
    padding: 0px 60px;
    text-align: center;
    text-transform: uppercase;
  }

  a.logo:hover {
    color: #9e9073; 
  }

  .nav-link {
    text-decoration: none; 
  }

  .nav-link:hover {
    color: #5495ff; 
    text-decoration: underline;
  }

  .banner {
    background-image: url("https://images.unsplash.com/photo-1418290232843-5d7a0bd93f7d?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb");
    background-position: center top;
    background-size: cover;
    border-bottom: 1px solid #dddddd;
    height: 700px;
    position: relative;
    text-align: center;
    top: 100px;
    width: 100%;  
  }

  .banner-text {
    position: relative;
    top: 200px;
  }

  h1 {
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  h2{
    color: #2176FF;
    font-family: 'Amatic SC',sans-serif;
    font-size: 30px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .btn {
    font-family: 'Raleway', sans-serif;
    background-color: #2176FF;
    padding: 15px;
    border-radius: 50px 50px 50px 50px;  
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    height: auto;
    width: auto; 
  }

  .btn:hover {
    margin-top: 5px; 
    box-shadow: 5px 5px;
    color: darkgray;
    cursor: pointer;
  }

  .btn:active { 
    margin-top: 15px;
    margin-bottom: 16px; 
    box-shadow: 1px 1px;
    background-color: gray;
    color: #fff; 
  }

  a {
    color: #2176FF; 
    text-decoration: underline; 
  }

  a:hover {
    color: #a67d2d;
    text-decoration: none; 
    cursor: pointer; 
  }

  .banner h2{
    font-size: 120px;
    margin: -40px 0px 80px 0px;
  }

  .content{
    background-image: url('https://content.codecademy.com/courses/learn-links-and-buttons/project/mountain1.jpg');
    background-position: center top;
    background-size: cover;
    border-bottom: solid #aca69a 1px;
    margin: 0 auto;
    overflow-y: auto;
    padding: 80px 0px;
    position: relative;
    text-align: center;
  }

  p{
    color: #000000;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    line-height: 42px;
    text-align: left;
  }

  .description{
    display: inline-block;
    width: 70%;
  }

  .activities-panel{
    margin-bottom: 40px;
    padding: 80px 0px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }

  .activities-panel h2 {
    width: 100%;
  }

  .activity {
    background-color: #2176FF;
    color: white;
    font-family: 'Amatic SC',sans-serif;
    font-size: 25px;
    font-weight: 500px;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    border-radius: 15px; 
    text-align: center;
    text-decoration: none; 
    width: 150px auto; 
  }

  .activity:hover {
    color: darkgray;
    margin-top: 5px; 
    box-shadow: 3px 5px;
    cursor: pointer; 
  }

  .activity:active {
    margin-top: 15px;
    margin-bottom: 25px; 
    box-shadow: 1px 2px;
    background-color: gray;
    color: #fff; 
  }

  .footer{
    background-color: #2176FF;
    padding: 30px;
    text-align: center;
  }

  .footer h2{
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
  }

  a {
    cursor: default;
    text-decoration-line: none;
  }
